:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start main */
/* start landing */
main .landing {
  background-color: var(--main-color);
}
/* start nav */
main .landing .contanier nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  text-transform: uppercase;
}
main .landing .contanier nav a {
  width: 20%;
}
main .landing .contanier nav a img {
  width: 160px;
  height: 60px;
}
main .landing .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
main .landing .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
main .landing .contanier nav ul li a:hover {
  color: var(--hover-color);
}
/* end nav */
.landing-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: var(--section-padding);
}
.landing-content::before {
  content: "";
  width: 275px;
  height: 215px;
  background-image: url(../images/flower-about.webp);
  top: 60px;
  left: -140px;
  position: absolute;
  z-index: 100;
  background-size: auto;
}
.landing-content img {
  width: 500px;
}
.landing-content .text {
  width: 51%;
  margin-bottom: 0;
}
.landing-content .text p {
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 15px;
  color: white;
  line-height: 1.5;
  width: 100%;
}
/* end landing */
/* start time line */
.time-line {
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  position: relative;
}
.time-line::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 114%;
  background-color: var(--main-color);
  top: -100px;
  left: 142px;
}
.time-line .timeline-holder {
  position: relative;
}
.time-line .timeline-holder::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: -110px;
  left: 60px;
  border-radius: 50%;
}
.time-line .timeline-holder::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  bottom: -74px;
  left: 57px;
  rotate: 45deg;
}
.time-line .timeline-holder .timeline-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.time-line .timeline-holder .timeline-card .number {
  width: 50px;
  height: 50px;
  border: 5px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 600;
  padding: 30px;
}
.time-line .timeline-holder .timeline-card .timeline-text {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.time-line .timeline-holder .timeline-card .timeline-text .year,
.time-line .timeline-holder .timeline-card .timeline-text p {
  height: 120px;
  display: flex;
  align-items: center;
  border: 2px dashed var(--main-color);
}
.time-line .timeline-holder .timeline-card .timeline-text .year {
  justify-content: center;
  width: 110px;
  background-color: white;
  font-size: 35px;
  font-weight: 600;
  border-radius: 50%;
  z-index: 100;
}
.time-line .timeline-holder .timeline-card .timeline-text p {
  justify-content: flex-start;
  padding-left: 60px;
  margin-left: -50px;
  border-radius: 15px;
  z-index: -1;
  background-color: #f3f3f3;
  font-weight: 400;
  line-height: 25px;
  width: 70%;
}
.timeline-word {
  position: absolute;
  rotate: 90deg;
  font-size: 215px;
  font-weight: 600;
  top: 389px;
  right: -330px;
  color: #f3f3f3;
}
/* end time line */
/* start challenges */
.challenges {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-color: var(--main-color);
  color: white;
}
.challenges h2 {
  font-size: 45px;
  margin: 15px;
}
.challenges p {
  font-size: 30px;
  margin: 0;
}
/* end challenges */
/* start preif */
.preif {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.preif .our-mission,
.preif .our-goal,
.preif .our-commitment,
.preif .our-team {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 50px;
}
.preif .our-mission .our-mission-text,
.preif .our-goal .our-goal-text,
.preif .our-commitment .our-commitment-text,
.preif .our-team .our-team-text {
  width: 40%;
}
.preif .our-mission .our-mission-text h3,
.preif .our-goal .our-goal-text h3,
.preif .our-commitment .our-commitment-text h3,
.preif .our-team .our-team-text h3 {
  font-size: 30px;
  font-weight: 600;
}
.preif .our-mission .our-mission-text p,
.preif .our-goal .our-goal-text p,
.preif .our-team .our-team-text p {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.6;
}
.preif .our-commitment .our-commitment-text ul li {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
}
.preif .our-mission img,
.preif .our-goal img,
.preif .our-commitment img,
.preif .our-team img {
  width: 360px;
}
.preif .verify {
  text-align: center;
}
.preif .verify p {
  font-weight: 400;
  font-size: 35px;
}
.preif .verify p span {
  color: var(--main-color);
  font-weight: 600;
}
/* end preif */
/* start footer */
footer {
  position: relative;
  color: #fdfdfda1;
  padding-top: 50px;
  background-color: var(--main-color);
  padding-bottom: 25px;
}
footer .left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
footer .right {
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 70%;
}
footer .contanier {
  display: flex;
}
footer .footer-content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}
footer .footer-content img {
  width: 180px;
  height: 70px;
}
footer .footer-content p {
  line-height: 28px;
}
footer .footer-content .links-holder {
  width: 100%;
}
footer .footer-content .links-holder i {
  margin-right: 10px;
  font-size: 30px;
  color: white;
}
footer .pages-holder {
  margin-top: 65px;
  text-transform: capitalize;
}
footer .pages-holder .links {
  list-style: none;
  line-height: 40px;
}
footer .pages-holder .links li {
  font-size: 22px;
}
footer .pages-holder .links li a {
  text-decoration: none;
  color: #fdfdfda1;
}
hr {
  outline: none;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #fdfdfd75;
}
footer .rights {
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* end footer */
