:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start heading */
.heading {
  position: relative;
  height: 90vh;
  background-image: url(../images/about-background.webp);
  background-size: cover;
}
.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.516);
  z-index: 1;
}
/* start nav */
.heading .contanier nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  z-index: 100;
}
.heading .contanier nav a {
  width: 20%;
}
.heading .contanier nav a img {
  width: 200px;
  height: 60px;
}
.heading .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.heading .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
.heading .contanier nav ul li a:hover {
  color: #20b43f;
}
/* end nav */
.heading .heading-contet {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
.heading .heading-contet h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 85px;
  color: white;
  margin-bottom: 15px;
}
.heading .heading-contet p {
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #dcdcdc;
}
/* end heading */
/* start story */
.story {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.story .story-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
}
.story .story-holder .images-holder {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  margin: 0 auto;
}
.story .story-holder .images-holder img {
  width: 225px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.large-left {
  margin-bottom: 30px;
}
.large-right {
  margin-top: 30px;
}
.story .story-holder .content-holder {
  margin-top: 60px;
}
.story .story-holder .content-holder h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  color: #4ba950;
}
.story .story-holder .content-holder p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #4a4a4a;
}
/* end story */
/* start Success */
.Success {
  padding-top: var(--section-padding);
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.Success .section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Success .section-holder .top-content,
.Success .section-holder .bottom-contect {
  text-align: center;
}
.Success .section-holder .top-content h3,
.Success .section-holder .bottom-contect h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #4ba950;
  margin: 0;
}
.Success .section-holder .top-content p,
.Success .section-holder .bottom-contect p {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #4a4a4a;
}
.Success .section-holder img {
  width: 1200px;
  height: 800px;
  padding-bottom: 30px;
  padding-top: 15px;
}
/* end Success */
