:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start main */
/* start nav */
.landing .contanier nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  z-index: 100;
}
.landing .contanier nav a {
  width: 20%;
}
.landing .contanier nav a img {
  width: 200px;
  height: 60px;
}
.landing .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.landing .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
.landing .contanier nav ul li a:hover {
  color: #20b43f;
}
/* end nav */
.landing {
  position: relative;
  background-image: url("../images/landing-img.webp");
  background-position: inherit;
  height: 130vh;
  width: 100%;
  background-size: cover;
  z-index: 100;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
}
.landing .contanier .landing-contet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  z-index: 100;
  color: white;
}
.landing .contanier .landing-contet h3 {
  font-size: 32px;
  margin: 0;
}
.landing .contanier .landing-contet h1 {
  font-size: 60px;
  margin: 25px auto;
  line-height: 1.3;
}
.landing .contanier .landing-contet h1 span {
  color: #4ba950;
}
.landing .contanier .landing-contet button {
  padding: 15px 20px;
  background-color: white;
  border: none;
  border-radius: 40px;
  transition: 0.3s ease;
  border: 2px solid white;
}
.landing .contanier .landing-contet button a {
  text-decoration: none;
  color: #4ba950;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 25px;
}
.landing .contanier .landing-contet button:hover {
  background-color: transparent;
  border-color: #20b43f;
}
.landing .contanier .landing-contet button:hover > a {
  color: white;
}
/* end landing */
/* start numbers */
.number {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  position: absolute;
  z-index: 100;
  top: 120vh;
  left: -29px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  transform: translate(105px, -30px);
  box-shadow: 0px 0px 20px 3px #00000030;
}
.number .num-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.number .num-card:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 50%;
  right: -33px;
  top: 15px;
  background-color: #20b43f;
}
.number .num-card .images-holder {
  width: 64px;
  height: 64px;
}
.number .num-card .images-holder img {
  max-width: 100%;
  max-height: 100%;
}
.number .num-card .nums {
  font-weight: 600;
  padding-top: 10px;
}
.number .num-card .title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
}
/* end numbers */
/* strat brief */
.brief {
  width: 95%;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}
.brief .image-holder {
  width: 575px;
  height: 415px;
}
.brief .image-holder img {
  max-width: 575px;
  height: 415px;
}
.brief .brief-content {
  padding-left: 25px;
}
.brief .brief-content h3 {
  margin: 0;
  color: #4ba950;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
}
.brief .brief-content p {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.brief .brief-content button {
  padding: 15px 20px;
  background-color: #20b43f;
  border: none;
  border-radius: 40px;
  transition: 0.3s ease;
  border: 2px solid #20b43f;
  margin-top: 5px;
}
.brief .brief-content button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 25px;
}
.brief .brief-content button:hover {
  background-color: transparent;
  border-color: #20b43f;
}
.brief .brief-content button:hover > a {
  color: #20b43f;
}
/* end brief */
/* start why us */
.why-us {
  padding-top: 100px;
  text-align: center;
}
.why-us .heading {
  padding-bottom: 25px;
}
.why-us .heading h2 {
  color: #4ba950;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.why-us .heading p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.why-us .features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.why-us .features .features-cart {
  background-color: #4ba9500d;
  width: 227px;
  height: 245px;
  padding: 24px 8px 20px 24px;
  margin: 10px;
  border-radius: 20px;
  text-align: left;
}
.why-us .features .features-cart .icon-holder {
  width: 64px;
  height: 64px;
}
.why-us .features .features-cart .icon-holder img {
  width: 100%;
  height: 100%;
}
.why-us .features .features-cart h4 {
  color: #161618;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
.why-us .features .features-cart p {
  margin: 0;
  color: #4a4a4a;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
/* end why us */
/* start best seller */
.best-seller {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.best-seller .heading {
  margin: 0;
}
.best-seller .heading h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #4ba950;
  margin: 0;
}
.best-seller .heading p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #4a4a4a;
}
#products-holder {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#products-holder .product-card {
  padding: 15px;
}
#products-holder .product-card .image-holder {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#products-holder .product-card .image-holder img {
  width: 100%;
  height: 100%;
}
#products-holder .product-card .product-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  margin-top: 15px;
}
#products-holder .product-card .size-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  color: #4a4a4a;
  margin-top: 10px;
}
#products-holder .product-card .size-holder i {
  font-size: 16px;
}
#products-holder .product-card .size-holder .product-size {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}
.best-seller button {
  padding: 15px 20px;
  background-color: #20b43f;
  border: none;
  border-radius: 40px;
  transition: 0.3s ease;
  border: 2px solid #20b43f;
  margin-top: 5px;
}
.best-seller button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 25px;
}
.best-seller button:hover {
  background-color: transparent;
  border-color: #20b43f;
}
.best-seller button:hover > a {
  color: #20b43f;
}
/* end best seller */
/* start process */
.process {
  padding-bottom: 50px;
}
.process .contanier {
  width: 63%;
  margin: 0 auto;
}
.process h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #4ba950;
  margin-bottom: 0;
}
.process .cart-holder {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.process .cart-holder .process-cart {
  padding: 15px;
}
.process .process-cart .img-holder {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.process .process-cart .img-holder img {
  width: 100%;
  height: 100%;
}
.cart-holder .process-cart:nth-of-type(5) .img-holder img {
  width: 50px;
}
.process .process-cart p {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  text-align: center;
  margin-top: 15px;
}
/* end process */
/* start news letter */
.news-letter {
  padding-bottom: var(--section-padding);
}
.news-letter .news-box {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 399px;
  background-image: url(../images/news-letter-background.webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 20px;
}
.news-letter .news-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #16161879;
  z-index: 1;
}
.news-letter .news-box .news-content {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.news-letter .news-box .news-content h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  color: white;
}
.news-letter .news-box .news-content input {
  border: none;
  padding: 15px 20px;
  color: black;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.news-letter .news-box .news-content button {
  background-color: #4ba950;
  color: white;
  padding: 15px 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.news-letter .news-box .news-content input:focus {
  outline: none;
}
/* end news letter */
/* start contact us */
.contact-us {
  padding-bottom: var(--section-padding);
}
.contact-us h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #4ba950;
}
.contact-us .contacts-contanier {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.contact-us .contacts-contanier .contacts-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-us .contacts-contanier .contacts-box i {
  color: #20b43f;
  padding: 15px;
  border-radius: 50%;
  background-color: #4ba9501a;
  font-size: 20px;
}
.contact-us .contacts-contanier .contacts-box:nth-child(2) i {
  width: 50px;
  height: 50px;
}
.contact-us .contacts-contanier .contacts-box h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  margin-top: 15px;
}
.contact-us .contacts-contanier .contacts-box p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #4ba950;
  margin: 0;
  margin-top: 15px;
}
/* end contact us */
