:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start main */
/* start nav */
.landing .contanier nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  z-index: 100;
}
.landing .contanier nav a {
  width: 20%;
}
.landing .contanier nav a img {
  width: 200px;
  height: 60px;
}
.landing .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.landing .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
.landing .contanier nav ul li a:hover {
  color: #20b43f;
}
/* end nav */
.landing {
  position: relative;
  background-image: url("../images/landing-img.webp");
  background-position: inherit;
  height: 130vh;
  width: 100%;
  background-size: cover;
  z-index: 100;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
}
.landing .contanier .landing-contet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  z-index: 100;
  color: white;
}
.landing .contanier .landing-contet h3 {
  font-size: 32px;
  margin: 0;
}
.landing .contanier .landing-contet h1 {
  font-size: 60px;
  margin: 25px auto;
  line-height: 1.3;
}
.landing .contanier .landing-contet h1 span {
  color: #4ba950;
}
.landing .contanier .landing-contet button {
  padding: 15px 20px;
  background-color: white;
  border: none;
  border-radius: 40px;
  transition: 0.3s ease;
  border: 2px solid white;
}
.landing .contanier .landing-contet button a {
  text-decoration: none;
  color: #4ba950;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 25px;
}
.landing .contanier .landing-contet button:hover {
  background-color: transparent;
  border-color: #20b43f;
}
.landing .contanier .landing-contet button:hover > a {
  color: white;
}
/* end landing */
/* start numbers */
.number {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  position: absolute;
  z-index: 100;
  top: 120vh;
  left: -25px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  transform: translate(105px, -30px);
  box-shadow: 0px 0px 20px 3px #00000030;
}
.number .num-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.number .num-card:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 50%;
  right: -27px;
  top: 15px;
  background-color: #20b43f;
}
.number .num-card .images-holder {
  width: 64px;
  height: 64px;
}
.number .num-card .images-holder img {
  max-width: 100%;
  max-height: 100%;
}
.number .num-card .nums {
  font-weight: 600;
  padding-top: 10px;
}
.number .num-card .title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
}
/* end numbers */
