:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start main */
/* start landing */
main .landing {
  background-image: url(../images/landing-background.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
}
/* start nav */
.landing .contanier nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  text-transform: uppercase;
}
.landing .contanier nav a {
  width: 20%;
}
.landing .contanier nav a img {
  width: 160px;
  height: 60px;
}
.landing .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.landing .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
.landing .contanier nav ul li a:hover {
  color: #acff00;
}
/* start nav */
/* start landing content */
.landing-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.landing-content .text h1 {
  font-weight: 200;
  color: white;
}
.landing-content .text h1 span {
  color: #acff00;
  font-weight: 600;
}
.landing-content .text button {
  width: 165px;
  height: 53px;
  border-radius: 16px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border: 3px solid white;
}
.landing-content .text button:hover {
  background-color: transparent;
}
.landing-content .text button a {
  text-decoration: none;
  color: #108824;
  font-weight: 600;
  padding: 16px;
}
.landing-content .text button:hover > a {
  color: white;
}
.landing-content img {
  width: 480px;
  margin-top: 66px;
  margin-right: 50px;
}
/* end landing content */
/* end landing */
/* start brief */
.brief {
  padding-top: calc(var(--section-padding) * 1.5);
  padding-bottom: var(--section-padding);
}
.brief .contanier {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.brief .contanier img {
  width: 500px;
  position: relative;
}
.brief .contanier img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/shape-about-home.webp);
}
.brief .brief-content {
  width: 51%;
  margin-bottom: 0;
}
.brief .brief-content p {
  font-size: 40px;
  width: 70%;
  font-weight: 400;
  margin-bottom: 15px;
}
.brief .brief-content p span {
  color: #108824;
  font-weight: 600;
}
.brief .brief-content button {
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
  padding: 17px 10px;
  border-radius: 16px;
  transition: 0.3s;
}
.brief .brief-content button a {
  padding: 17px 10px;
  text-decoration: none;
  color: white;
}
.brief .brief-content button:hover {
  background-color: transparent;
}
.brief .brief-content button:hover > a {
  color: var(--main-color);
}
/* end brief */
/* end main */
