:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start main */
/* start heading */
main .heading {
  background-color: var(--main-color);
}
/* start nav */
main .heading .contanier nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  text-transform: uppercase;
}
main .heading .contanier nav a {
  width: 20%;
}
main .heading .contanier nav a img {
  width: 160px;
  height: 60px;
}
main .heading .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
main .heading .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
main .heading .contanier nav ul li a:hover {
  color: #acff00;
}
/* end nav */
.heading .heading-content {
  text-align: center;
  color: white;
}
.heading .heading-content h1 {
  font-size: 90px;
  text-transform: uppercase;
  line-height: 125px;
  margin: 0;
}
.heading .heading-content h3 {
  font-size: 40px;
  margin: 0;
  margin-top: -5px;
}
.heading .heading-content .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.heading .heading-content .categories p {
  margin-right: 15px;
  background-color: #20b43f;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
/* end heading */
/* start footer */
footer {
  position: relative;
  color: #fdfdfda1;
  padding-top: 50px;
  background-color: var(--main-color);
  padding-bottom: 25px;
}
footer .left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
footer .right {
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 70%;
}
footer .contanier {
  display: flex;
}
footer .footer-content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}
footer .footer-content img {
  width: 180px;
  height: 70px;
}
footer .footer-content p {
  line-height: 28px;
}
footer .footer-content .links-holder {
  width: 100%;
}
footer .footer-content .links-holder i {
  margin-right: 10px;
  font-size: 30px;
  color: white;
}
footer .pages-holder {
  margin-top: 65px;
  text-transform: capitalize;
}
footer .pages-holder .links {
  list-style: none;
  line-height: 40px;
}
footer .pages-holder .links li {
  font-size: 22px;
}
footer .pages-holder .links li a {
  text-decoration: none;
  color: #fdfdfda1;
}
hr {
  outline: none;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #fdfdfd75;
}
footer .rights {
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* end footer */
/* end main */
