:root {
  --section-padding: 100px;
  --main-color: #108824;
  --secondary-color: #20b43f;
  --hover-color: #acff00;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 1 1000;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* start components */
.contanier {
  width: 90%;
  margin: 0 auto;
}
/* end components */
/* start heading */
.heading {
  position: relative;
  height: 75vh;
  background-image: url(../images/products-background.webp);
  background-size: cover;
}
.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.516);
  z-index: 1;
}
/* start nav */
.heading .contanier nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 30%;
  z-index: 100;
}
.heading .contanier nav a {
  width: 20%;
}
.heading .contanier nav a img {
  width: 200px;
  height: 60px;
}
.heading .contanier nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.heading .contanier nav ul li a {
  text-decoration: none;
  color: white;
}
.heading .contanier nav ul li a:hover {
  color: #20b43f;
}
/* end nav */
.heading .heading-contet {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
.heading .heading-contet h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 85px;
  color: white;
  margin-bottom: 15px;
}
.heading .heading-contet p {
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #dcdcdc;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    background-position: center;
  }
  .heading .heading-contet h1 {
    font-size: 35px;
    line-height: 60px;
  }
  .heading .heading-contet p {
    font-size: 17px;
    line-height: 19.54px;
  }
}
/* end heading */
/* start category */
.categories {
  padding-top: 50px;
}
.categories .categories-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.categories .categories-box p {
  border: 1px solid #20b43f;
  color: #20b43f;
  margin-right: 15px;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.categories .categories-box .active {
  background-color: #20b43f;
  color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .categories .categories-box {
    padding-bottom: 25px;
  }
  .categories .categories-box p {
    padding: 10px 30px;
    font-size: 17px;
  }
}
/* end category */
/* start products */
.products {
  padding-top: 20px;
  padding-bottom: var(--section-padding);
}
#product-holder {
  display: grid;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#product-holder .product-card {
  padding: 15px;
}
#product-holder .product-card .image-holder {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#product-holder .product-card .image-holder .product-img {
  width: 100%;
  height: 100%;
}
#product-holder .product-card .product-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  margin-top: 15px;
  text-align: center;
}
#product-holder .product-card:nth-child(24) .product-title {
  font-size: 22px;
}
#product-holder .product-card:nth-child(34) .product-title {
  font-size: 20px;
}
#product-holder .product-card .size-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  color: #4a4a4a;
  margin-top: 10px;
}
#product-holder .product-card .size-holder i {
  font-size: 16px;
}
#product-holder .product-card .size-holder .product-size {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  #product-holder {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  #product-holder .product-card .image-holder {
    width: 150px;
    height: 150px;
  }
  #product-holder .product-card .product-title {
    font-size: 17px;
    line-height: 20px;
  }
  #product-holder .product-card:nth-child(24) .product-title {
    font-size: 15px;
    line-height: 20px;
  }
  #product-holder .product-card:nth-child(34) .product-title {
    font-size: 13px;
    line-height: 20px;
  }
  #product-holder .product-card .size-holder .product-size {
    font-size: 12px;
    line-height: 25px;
  }
}
/* end products */
/* start footer */
footer {
  background-color: #4ba950;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
footer a {
  width: 20%;
}
footer img {
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
}
footer .pages ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 20px auto;
  padding: 0;
}
footer .pages ul li a {
  text-decoration: none;
  color: white;
}
footer .icons-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .icons-holder i {
  color: #20b43f;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}
footer p {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer img {
    width: 133px;
    height: 41px;
  }
  footer .pages ul {
    width: 45%;
  }
  footer .pages ul li a {
    font-size: 15px;
    line-height: 30px;
  }
  footer .icons-holder {
    width: 30%;
  }
  footer p {
    font-size: 14px;
    line-height: 30px;
  }
}
/* end footer */
